@import '../../style/variables.scss';

.fileInfoDiv {
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.25;
}

.fileInfoH2 {
    margin-bottom: .5rem;
}

.fileInfoIconsDiv {
    margin-bottom: .5rem;
    text-align: right;
}

.icon {
    margin-left: .5rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.icon:hover {
    opacity: .7;
}