@import '../../style/variables.scss';
@import '../../style/extends.scss';

%cardBasic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    max-height: 200px;
    // margin-bottom: 2rem;
}

.cardItemDiv {
    @extend %cardShadow;
    @extend %cardBasic;
}

.cardItemDivActive {
    @extend %cardShadow;
    @extend %cardBasic;
    background-color: $theme-lightgrey;
    @extend %activeShadow;
}

.cardItemDiv:hover {
  @extend %hoverShadow;
}

.captionDiv {
    display: flex;
    align-items: center;
    // padding: .5rem;
    font-size: 14px;
    justify-self: flex-end;
    margin-top: .5rem;
}

.fileType {
    margin: 0;
    width: fit-content;
    background-color: $secondary-color;
    color: $theme-white;
    padding: 3px;
    border-radius: 5px;
}

.caption {
    margin: 0 1rem;
    width: calc(100% - 50px);
    text-align: center;
    word-wrap: break-word;
}