@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

// COLORS
$primary-color: #282c34;
$secondary-color: #61dafb;
$theme-lightgrey: lightgrey;
$theme-blurwhite: rgb(245, 245, 245);
$theme-white: white;

// FONT
$primary-font: 'Josefin Sans', cursive;
$secondary-font: sans-serif;
