@import '../../style/variables.scss';

.configSidebarDiv {
    // background-color: $theme-lightgrey;

    label {
        display: block;
    }
}

.filterOrderDiv {
    padding: 0 1rem;
    line-height: 1.5;
}